<style>
* {
  box-sizing: border-box;
}



h1 {
  text-align: center;
}



table {
  width: 80%;
}

td,
th {
  text-align: center;
  border: solid 1px #ccc;
  font-size: 22px;
  padding: 6px;
  word-wrap: break-word;

}






th:first-child,
td:first-child {
  font-weight: bold;
  color: black;
  padding: 30px;
  background: #f1f1f1;

}

@media screen and (max-width: 768px) {
 
  tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  td,
  th {
    display: block;
    width: 33.333333333333%;
    font-size: 20px;
  }
  th:first-child,
  td:first-child {
    background: #3860d8;
    width: 100%;
    color: #ffffff;

  }
  th:first-child {
    display: none;
  }
}




</style>